/Assignment 1 PPL.py
/Assignment 2 PPL.py
/Assignment 3 PPL.py
/Assignment 4 PPL.py
/Assignment 5 PPL.py
/Assignment 6 PPL.py
/Assignment 7 PPL.py
/Assignment 8 PPL.py
/Cloudy.jpg
/fjf
/Foggy.jpg
/omkar.py
/Problem statement1 PPL.py
/Problem statement2 PPL.py
/Problem statement3 PPL.py
/Problem statement4 PPL.py
/Rainy.jpg
/Self learning Assignment1.py
/Self learning Assignment2.py
/Snowy.jpg
/Stormy.jpg
/Sunny.jpg
/Windy.jpg